<nav class="navbar navbar-expand-lg fixed-top nav-bg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i>

            </span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                {% if name %}:
                    <li class="nav-item dropdown pad-left">
                        <a class="nav-link dropdown-toggle" href="#" id="UserDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i> User <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="UserDropdown">
                            <li><a class="dropdown-item" href="{% url 'addresses' %}">Addresses</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Log out</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown pad-left">
                        <a class="nav-link dropdown-toggle" href="#" id="ImportDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-upload" aria-hidden="true"></i> Import <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ImportDropdown">
                            <li><a class="dropdown-item" href="{% url 'importExchange' %}">Import Exchange Trades</a></li>
                            <li><a class="dropdown-item" href="{% url 'importTransactions' %}">Import Onchain Transactions</a></li>
                            <li><a class="dropdown-item" href="{% url 'importTokens' %}">Import Tokens</a></li>
                            <li><a class="dropdown-item" href="{% url 'testAutocomplete' %}">testAutocomplete</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown pad-left">
                        <a class="nav-link dropdown-toggle" href="#" id="ReportsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-alt" aria-hidden="true"></i> Reports <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ReportsDropdown">
                            <li><a class="dropdown-item" href="{% url 'holdingsReport' %}">Holdings</a></li>
                            <li><a class="dropdown-item" href="{% url 'buysReport' %}">Purchases</a></li>
                            <li><a class="dropdown-item" href="{% url 'salesReport' %}">Sales</a></li>
                            <li><a class="dropdown-item" href="{% url 'spendsReport' %}">Spends</a></li>
                            <li><a class="dropdown-item" href="{% url 'transactionsReport' %}">Transactions</a></li>
                            <li><a class="dropdown-item" href="{% url 'bridgesReport' %}">Bridging</a></li>
                            <li><a class="dropdown-item" href="{% url 'withdrawalsReport' %}">Exchange Withdrawals</a></li>
                            <li><a class="dropdown-item" href="{% url 'tokensReport' %}">Tokens</a></li>
                            <li><a class="dropdown-item" href="{% url 'vaultsReport' %}">Staking</a></li>
                            <li><a class="dropdown-item" href="{% url 'incomeReport' %}">Income</a></li>
                            <li><a class="dropdown-item" href="{% url 'cgtReport' %}">CGT Events</a></li>
                            <li><a class="dropdown-item" href="{% url 'audReport' %}">AUD Transactions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown pad-left">
                        <a class="nav-link dropdown-toggle" href="#" id="TaxDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-alt" aria-hidden="true"></i> Tax <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="TaxDropdown">
                            <li><a class="dropdown-item" href="{% url 'taxProcessing' %}">Preprocessing</a></li>
                        </ul>
                    </li>
                {% else %}:
                    <li><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav navi-nav mr-0">
                {% if name %}:
                    <li class="nav-item pad-left">
                        {% comment %} <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {% endcomment %}
                        <span class="nav-link">
                            <i class="fa fa-user" aria-hidden="true"></i> {{name}} <span class="caret"></span>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>